*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
    font-size:62.5%
}

body{
	font-family:"Lato",sans-serif;
	line-height:1.7rem;
	font-weight:400;
	color:rgba(20, 20, 20, 0.884);

	background-color:#9145B6;

	
}
.App{
    position:relative;
	background-image: linear-gradient(110.79248633202553deg, rgba(236, 236, 236,1) 5.533854166666667%,rgba(195, 229, 248,1) 96.67968749999999%)
  ;
}
button{
	cursor:pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media(max-width:1000px){
	body{
		
		margin: 0;
	}
}

@media(max-width:1000px){
	
html{
    font-size:57.5%
}
}


